# Puerto de ejecución del servidor
PORT=3000

# Conexión local a PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eventboard?schema=public"

# URL de conexión para RabbitMQ (Local o CloudAMQP)
# Deja vacío para habilitar fallback en memoria (LocalEventEmitter)
RABBITMQ_URL="amqp://localhost:5672"

# Secreto de JWT para autenticación
JWT_SECRET="mi_secreto_super_seguro_academic_project"
